body {
    margin: 0px;
    font-family: 'Balsamiq Sans', cursive;
}
.header {
    background-color:#737373;
    color: white;
    display: flex;
    height: 100px;
    height: inherit;
    justify-content: space-between;
}
.container {
    width: 1000px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}
.Logo {
    margin-top: 5px;
}

.menu {
    height: inherit;
    display: flex;
    align-items: center;

}
.header ol {
    display: flex;
    height: inherit;
    align-items: center;
    list-style: none;
}
.link {
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items:  center;
    padding: 0px 10px;
    color: black;
}
figure {
    margin: 0;
}
.principal{
    height: 300px;
    background-color: black;
    display: flex;
    align-items: inherit;
    justify-content: inherit;
}
.imagenprincipal{
    object-fit: cover;
}
h1{
    color: white;
    line-height: 1.5;
    text-transform: capitalize;
    margin: 0;
    font-family: 'Tenali Ramakrishna', sans-serif;
    font-size: 30px;
}
strong{
    color: #212A85;
}
.acercademi{
    background-color: #BFD1DC;

}
.listamassobremi {
    display: flex;
    flex-wrap: wrap;
}
.massobremi{
    width: 480px;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
    background-color:#D0C1CD;
}
.imagenmassobremi{
    width: 480px;
    height: 200px;
    object-fit: cover;
}
.detallemassobremi{
    text-align: center;
    background-color: white;
    padding: 20px;
    margin: 20px 40px;
    margin-top: -40px;
    position: relative;
}
.esteeslasecciondecontacto{
    background-color: #212A85;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.formularioemail input {
    border-color: gray;
    padding: 10px;
    width: 150px;
    border-radius: 5px;
}
.formularioemail button{
    background: transparent;
    color: white;
    border-radius: 5px;
    width: 100px;
    padding: 10px;
    margin-left: 10px;
}
.linksocial{
    display: inline-block;
    width: 40px;
    height: 40px;
}
.iconofacebook{
    background-image: url("https://img.icons8.com/material-sharp/24/000000/facebook-new.png");
    background-size: 40px 40px;
}
.iconoinstagram{
    background-image: url("https://img.icons8.com/material/26/000000/instagram-new--v1.png");
    background-size: 40px 40px;
}